<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maximtian.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name=".login_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".login_Service">
            <intent-filter>
                <action android:name=".login_Service" />
             </intent-filter>
        </service>

        <activity android:name="mainActivity.main_activity" />
        <activity android:name="mainActivity.Movie_Activity" />
        <activity android:name="mainActivity.Theatre_Activity" />
        <activity android:name="mainActivity.Theatre_Detail" />
        <activity android:name="mainActivity.Order_Activity" />
        <activity android:name="mainActivity.Personal_Activity" />

        <activity android:name="mainActivity.Movie_Detail" />

    </application>

</manifest>
