<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gate_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-19}</string>
                <key>spriteSize</key>
                <string>{110,247}</string>
                <key>spriteSourceSize</key>
                <string>{160,285}</string>
                <key>textureRect</key>
                <string>{{972,1306},{110,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gate_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{261,407}</string>
                <key>spriteSourceSize</key>
                <string>{261,413}</string>
                <key>textureRect</key>
                <string>{{1,1027},{261,407}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gate_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{260,408}</string>
                <key>spriteSourceSize</key>
                <string>{260,412}</string>
                <key>textureRect</key>
                <string>{{1219,1},{260,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gate_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{150,207}</string>
                <key>spriteSourceSize</key>
                <string>{160,285}</string>
                <key>textureRect</key>
                <string>{{1221,1243},{150,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gate_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{261,407}</string>
                <key>spriteSourceSize</key>
                <string>{261,413}</string>
                <key>textureRect</key>
                <string>{{264,1027},{261,407}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gate_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{260,408}</string>
                <key>spriteSourceSize</key>
                <string>{260,412}</string>
                <key>textureRect</key>
                <string>{{1217,263},{260,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gate_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{152,263}</string>
                <key>spriteSourceSize</key>
                <string>{160,285}</string>
                <key>textureRect</key>
                <string>{{1237,707},{152,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gate_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{261,407}</string>
                <key>spriteSourceSize</key>
                <string>{261,413}</string>
                <key>textureRect</key>
                <string>{{527,1027},{261,407}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gate_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{260,408}</string>
                <key>spriteSourceSize</key>
                <string>{260,412}</string>
                <key>textureRect</key>
                <string>{{790,365},{260,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>background3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,774}</string>
                <key>spriteSourceSize</key>
                <string>{1024,774}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,774}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,180}</string>
                <key>spriteSourceSize</key>
                <string>{425,180}</string>
                <key>textureRect</key>
                <string>{{790,183},{425,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{427,180}</string>
                <key>spriteSourceSize</key>
                <string>{427,180}</string>
                <key>textureRect</key>
                <string>{{790,1},{427,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,180}</string>
                <key>spriteSourceSize</key>
                <string>{352,180}</string>
                <key>textureRect</key>
                <string>{{1200,525},{352,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,180}</string>
                <key>spriteSourceSize</key>
                <string>{353,180}</string>
                <key>textureRect</key>
                <string>{{959,627},{353,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,180}</string>
                <key>spriteSourceSize</key>
                <string>{367,180}</string>
                <key>textureRect</key>
                <string>{{790,997},{367,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,180}</string>
                <key>spriteSourceSize</key>
                <string>{368,180}</string>
                <key>textureRect</key>
                <string>{{777,627},{368,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1308,972},{96,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1554,525},{88,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{1554,621},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{1430,707},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{1430,847},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,65}</string>
                <key>spriteSourceSize</key>
                <string>{41,69}</string>
                <key>textureRect</key>
                <string>{{790,1366},{35,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{1308,1070},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{1448,987},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{827,1366},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{1448,1127},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{1430,1267},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>restartNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{266,94}</string>
                <key>spriteSourceSize</key>
                <string>{324,142}</string>
                <key>textureRect</key>
                <string>{{1141,707},{266,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>restartSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{268,94}</string>
                <key>spriteSourceSize</key>
                <string>{324,142}</string>
                <key>textureRect</key>
                <string>{{1116,982},{268,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>startNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{266,94}</string>
                <key>spriteSourceSize</key>
                <string>{324,142}</string>
                <key>textureRect</key>
                <string>{{1212,975},{266,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>startSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{322,142}</string>
                <key>spriteSourceSize</key>
                <string>{324,142}</string>
                <key>textureRect</key>
                <string>{{972,982},{322,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>VersusModeScene.png</string>
            <key>size</key>
            <string>{1643,1435}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2420b1a755b52ed389a25622a1069f40:a00787420b052911c9db2f1ba1d971cc:c48b25a23b278d9cd6b9dc4990e3a402$</string>
            <key>textureFileName</key>
            <string>VersusModeScene.png</string>
        </dict>
    </dict>
</plist>
